@use "sass:color";
@import "tailwindcss";

$primary-color: #FFFF00;
$secondary-color: #10b981;

$app-bg-color: #241c1b;
$app-text-color: #ffffff;

.app-container {
    background-color: $app-bg-color;
    color: $app-text-color;
}
